################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wasm/RunAgent/.vs/
/wasm/RunAgent/ClientAgentLib/bin/
/wasm/RunAgent/ClientAgentLib/obj
/wasm/RunAgent/RunAgent/bin
/wasm/RunAgent/RunAgent/obj
